* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'lastica';
    src: url('../fonts/lastica.ttf');
}

@font-face {
    font-family: 'josefins-sans-regular';
    src: url('fonts/josefins.ttf');
}

body {
    background-image: url(../images/astronault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center right
}



.main-content {
    margin-left: 6%;
    margin-top: 10%;
}

.logo-fator-wow {
    padding-top: 2rem;
    display: flex;
    margin-left: auto;
    margin-right: 3rem;
}

.main-text {
    width: 50rem;
    color: white;
    font-size: 50px;
    font-family: 'lastica';
    letter-spacing: 7px;
    padding-bottom: 2.5rem;
}

.subtitle {
    width: 34rem;
    font-size: 2rem;
    padding-bottom: 2.5rem;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

.button {
    width: 18.7rem;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-family: 'Contrail One', cursive;
    font-size: 25px;
    transition: all 0.5s;
}

.button:hover {
    transform: scale(1.1);
    background: rgb(87, 19, 48);
    background: linear-gradient(223deg, rgba(140, 7, 64, 0.889) 0%, rgba(31, 3, 55, 1) 56%, rgb(42, 7, 46) 85%);
    color: white;
}

.social-media-icons {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5rem;
    margin-top: -18rem;
}

.social-icon {
    width: 40px;
}

a {
    transition: all 0.3s;
}

a:hover {
    transform: scale(1.1);
}

/* Responsive */

@media (max-width: 1000px) {
    body {
        background-image: url(images/astronault2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        min-width: 100vh;
        background-position: center right
    }

    .logo-fator-wow {
        width: 170px;
        margin-left: auto;
        margin-right: auto;

    }

    .main-text {
        font-size: 25px;
        width: 34rem;

    }

    .main-content {
        margin-top: 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .social-media-icons {
        display: none;
    }

}

@media (max-width: 1600px) {
    .main-text {
        font-size: 30px;
    }

    .social-icon {
        width: 30px;
    }

    .social-media-icons {
        margin-top: -15rem;
    }
}



@media (max-width: 900px) {
  

}

@media (max-width: 500px) {
    .main-text {
        font-size: 20px;
        margin-top: 25%;
    }

    .social-icon {
        width: 30px;
    }

    .social-media-icons {
        margin-top: -15rem;
    }

    .logo-fator-wow {
        margin-left: auto;
        margin-right: auto;
    }
}