* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'lastica';
    src: url('../fonts/lastica.ttf');
}

@font-face {
    font-family: 'josefins-sans-regular';
    src: url('fonts/josefins.ttf');
}

body {
    background-image: url(../images/astronault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center right
}

@media (max-width: 1000px) {
    body {
        background-image: url(images/astronault2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        min-width: 100vh;
        background-position: center right
    }
}

.main-content {
    margin-left: 10%;
    margin-top: 10%;
}

.logo-fator-wow {
    padding-top: 2rem;
    display: flex;
    margin-left: auto;
    margin-right: 3rem;
}

.main-text {
    width: 50rem;
    color: white;
    font-size: 50px;
    font-family: 'lastica';
    letter-spacing: 7px;
    padding-bottom: 2.5rem;
}

.subtitle {
    width: 34rem;
    font-size: 2rem;
    padding-bottom: 2.5rem;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

.button {
    width: 18.7rem;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-family: 'Contrail One', cursive;
    font-size: 25px;
}

.social-media-icons {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5rem;
    margin-top: -18rem;
}

a {
    transition: all 0.3s;
}

a:hover {
    transform: scale(1.1);
}